body {
  padding: 20px 0;
  font-family: Indie Flower;
  color: #353132;
}

.container {
  border: 3px solid #353132;
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background: url("congratulations.jpg");
}

.canvas {
  position: absolute;
  top: 0;
}

.form {
  padding: 100px 20px;
}
.copyright {
  margin-top: 20px;
  text-align: center;
}

